<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._2024_Danpoon_Mesh"
        tools:targetApi="31">
        <activity
            android:name=".PostingActivity"
            android:exported="false" />
        <activity
            android:name=".PostApplyActivity"
            android:exported="false" />
        <activity
            android:name=".PostActivity"
            android:exported="false" />
        <activity
            android:name=".ChatRoomActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileSetupActivity"
            android:exported="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="3842028e5ec9809bb1af3bc11dd1f0d2" />

        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao3842028e5ec9809bb1af3bc11dd1f0d2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".SearchKeywordActivity"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>